*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#0f172a;
color:white;
}

.app-layout{
display:flex;
min-height:100vh;
}

.sidebar{
width:260px;
background:#020617;
padding:30px 20px;
display:flex;
flex-direction:column;
border-right:1px solid #1e293b;
}

.logo{
margin-bottom:50px;
}

.logo h2{
font-size:30px;
}

.logo p{
color:#94a3b8;
margin-top:5px;
}

.sidebar-item{
display:flex;
align-items:center;
gap:15px;
padding:15px;
margin-bottom:10px;
border-radius:12px;
cursor:pointer;
transition:.3s;
font-size:18px;
}

.sidebar-item:hover{
background:#1e293b;
}

.sidebar-item.active{
background:#2563eb;
}

.main-content{
flex:1;
padding:35px;
background:#0f172a;
overflow:auto;
}